GCP_PROJECT_ID="my-project-sssint1"
# The IP address of the machine running Kafka/Redpanda.
BROKER_HOST_IP="localhost"
# If you change the value of BROKER_HOST_IP above to a specific
# IP address, e.g. BROKER_HOST_IP="192.168.1.50", please also
# update KAFKA_BROKER, i.e. KAFKA_BROKER="192.168.1.50:9092"
KAFKA_BROKER="localhost:9092"
